@model WebApplication1.Models.Police
@{
    ViewData["Title"] = "Police Details";
}

<h2>Police Details</h2>

<table class="table table-bordered">
    <tr>
        <th>Name</th>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <th>Phone No</th>
        <td>@Model.PhoneNo</td>
    </tr>
    <tr>
        <th>Place</th>
        <td>@Model.Place</td>
    </tr>
</table>

<p>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</p>
